# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
.env

# IDE / Editor
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/


#agents and agent skills
.agent
.agents
*/.agent
*/.agents
skills-lock.json
